{% if prices.length %}
<section class="[ pad-top-700 gap-bottom-900 ]">
  <div class="[ inner-wrapper ] [ sf-flow ]">
    <h2 class="[ post-list__heading ] [ text-700 md:text-800 ]">Qinkel Produkte</h2>
    <p>Hol Dir jetzt Deine lebenslange Garantie! <a href="https://www.qinkel.com/Startseite.html#carousel_d7ee">Garantie holen</a> <br/>Hier ist eine Übersicht über die verfügbaren Qinkel Produkte</p>
    <ol class="[ pad-top-300 ] [ product ] [ ol-reset ]">
      {% for price in prices %}
      <li class="product-card sf-flow">
        <h3 class="font-base leading-tight text-600 weight-mid">
          <a
            href="{{ price.product.url }}"
            class="post-list__link"
            rel="bookmark"
            >{{ price.product.name }}</a
          >
        </h3>
        <img src="{{ price.product.metadata.mainImage }}"
          srcset="{{ price.product.metadata.mainImage }}"
          alt="">
        <p>{{ price.product.description }}</p>
        <form action="/api/createCheckoutSession" method="POST">
          <input
            type="hidden"
            value="{{ price.id }}"
            name="price_id"
            class="hidden"
          />
          <button class="button" type="submit">Jetzt kaufen {{ price.unit_amount | convertCentsToEuros }}</button>
        </form>
      </li>
      {% endfor %}
    </ol>
  </div>
</section>
{% endif %}
