<!DOCTYPE html>
<html style="font-size: 16px;" lang="de-AT">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="canonical" href="https://qinkel.netlify.app{{ page.url }}">
    <meta name="keywords" content="Qinkel, Spielzeug, Geschicklichkeitsspiel, Magnetkugeln">
    <meta name="description" content="Qinkel. Das spannende 3D Puzzel aus Neodym Magneten.">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="description" content="{{ renderData.description or description or metadata.description }}">
    <meta property="og:description" content="{{ renderData.description or description or metadata.description }}" />
    <link rel="stylesheet" href="/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="/css/Startseite.css" media="screen">
    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 6.3.1, nicepage.com">
    <meta property="og:title" content="{{ renderData.title or title or metadata.title }}">
    <meta property="og:image" content="https://www.qinkel.com/images/prodbild1.jpg">
    <meta property="og:url" content="https://www.qinkel.com">
    <link id="u-theme-google-font" rel="stylesheet" href="/css/fonts.css">
    <link id="u-page-google-font" rel="stylesheet" href="/css/Startseite-fonts.css">
    <link rel="icon" href="/images/favicon.png" type="image/png" />
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    
    <script type="application/ld+json">{
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "Qinkel",
      "logo": "/images/Logo.png"
    }</script>
    <meta name="theme-color" content="#222589">
    <meta property="og:type" content="website">

    <script>
      function gdprConfirmed() {
          return true;
      }
      if (gdprConfirmed()) {
      document.write("\
      \
      <!-- Google Analytics -->\
      <gascript async src=\"https://www.googletagmanager.com/gtag/js?id=G-ELR96L3XTB\"></gascript>\
      <gascript>\
          window.dataLayer = window.dataLayer || [];\
          function gtag(){dataLayer.push(arguments);}\
          gtag('js', new Date());\
          gtag('config', 'G-ELR96L3XTB');\
      </gascript>\
      <!-- End Google Analytics -->\
      ".replace(/gascript/g, 'script'));
      }
    </script>

    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/9f0e1a607e01ca48c99fd77c1/44f2954b7763f6c8db489e616.js");
    </script>
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>

  <!--body data-home-page="Startseite.html" data-home-page-title="Startseite" data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="de"-->
  <body class="u-body u-xl-mode">
    <header class=" u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-clearfix u-header u-section-row-container" id="sec-3385" style="background-image: none">
      <div class="u-section-rows">
        <div class="u-custom-color-2 u-section-row u-section-row-1" id="sec-f3f8">
          <div class="u-clearfix u-sheet u-sheet-1">
            <a href="/#carousel_d7ee" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-4 u-hover-palette-4-light-1 u-radius u-btn-1">Garantie holen</a>
            <h4 class="u-align-center u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-1">
              <span style="font-weight: 400; font-size: 1.25rem;">Hol Dir jetzt Deine</span>
              <span style="font-weight: 700;">
                <span style="font-size: 1.25rem;"></span>lebenslange 
              </span>
              <span style="font-weight: 700;">Garantie</span>
            </h4>
          </div>
          
        </div>
        <div class="u-clearfix u-section-row u-sticky u-sticky-5d8a u-white u-section-row-2" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="" id="sec-6dd5">
          <div class="u-clearfix u-sheet u-sheet-2">
            <a href="/" class="u-image u-logo u-image-1" data-image-width="1125" data-image-height="434" title="Startseite">
              <img src="/images/Logo.png" class="u-logo-image u-logo-image-1">
            </a>
            <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1" data-responsive-from="MD">
              <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
                <a class="u-button-style u-custom-border u-custom-border-color u-custom-borders u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
                  <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
                  <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
                  </g></svg>
                </a>
              </div>
              <div class="u-custom-menu u-nav-container">
                <ul class="u-nav u-spacing-20 u-unstyled u-nav-1">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base" href="/" style="padding: 10px;">Startseite</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base" href="/Shop" style="padding: 10px;">Shop</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base" href="/Kontakt" style="padding: 10px;">Kontakt</a>
                  </li>
                </ul>
              </div>
              <div class="u-custom-menu u-nav-container-collapse">
                <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                  <div class="u-inner-container-layout u-sidenav-overflow">
                    <div class="u-menu-close"></div>
                    <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                      <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/">Startseite</a>
                      </li>
                      <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Shop">Shop</a>
                      </li>
                      <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Kontakt">Kontakt</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
              </div>
            </nav>
          </div>
          
          
          <style class="u-sticky-style" data-style-id="5d8a">.u-sticky-fixed.u-sticky-5d8a:before, .u-body.u-sticky-fixed .u-sticky-5d8a:before {
              borders: top right bottom left !important
            }
          </style>
        </div>
      </div>
    </header>


    {{ content | safe }}

    <footer class="u-clearfix u-footer u-palette-4-dark-2 u-footer" id="sec-d120" data-href="mailto:office@qinkel.com?subject=Frangen%2C%20Anregungen%2C%20W%C3%BCnsche"><div class="u-clearfix u-sheet u-sheet-1">
      <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-align-left u-container-style u-layout-cell u-size-15-lg u-size-16-md u-size-16-sm u-size-16-xs u-size-17-xl u-layout-cell-1">
              <div class="u-container-layout u-container-layout-1">
                <p class="u-align-left u-text u-text-1">SteTho OG<br>Mariahilfer Strasse 136/1 Top 10<br>1050 Wien/Austria<br>Tel.​ +43 (0)1-961 01 00<br>www.qinkel.com
                </p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-layout-cell u-size-14-xl u-size-15-md u-size-15-sm u-size-15-xs u-size-16-lg u-layout-cell-2">
              <div class="u-container-layout u-container-layout-2"><!--position-->
                <div data-position="" class="u-position u-position-1"><!--block-->
                  <div class="u-block">
                    <div class="u-block-container u-clearfix"><!--block_header-->
                      <h5 class="u-block-header u-text u-text-2"><!--block_header_content-->
                        <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-hover-palette-4-light-1 u-text-white u-btn-1" href="/Impressum">Impressum</a><!--/block_header_content-->
                      </h5><!--/block_header--><!--block_content-->
                      <div class="u-block-content u-text"><!--block_content_content--><!--/block_content_content--></div><!--/block_content-->
                    </div>
                  </div><!--/block-->
                </div><!--/position--><!--position-->
                <div data-position="" class="custom-expanded u-position u-position-2"><!--block-->
                  <div class="u-block">
                    <div class="u-block-container u-clearfix"><!--block_header-->
                      <h5 class="u-block-header u-text u-text-4"><!--block_header_content-->
                        <a href="/Datenschutz" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-hover-palette-4-light-1 u-text-palette-4-light-3 u-btn-2">DATENSCHUTZ</a><!--/block_header_content-->
                      </h5><!--/block_header--><!--block_content-->
                      <div class="u-block-content u-text"><!--block_content_content--><!--/block_content_content--></div><!--/block_content-->
                    </div>
                  </div><!--/block-->
                </div><!--/position--><!--position-->
                <div data-position="" class="custom-expanded u-position u-position-3"><!--block-->
                  <div class="u-block">
                    <div class="u-block-container u-clearfix"><!--block_header-->
                      <h5 class="u-block-header u-text u-text-6"><!--block_header_content-->
                        <a href="/Rueckgabe" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-hover-palette-4-light-1 u-text-palette-4-light-3 u-btn-3">RÜCKGABERECHT</a><!--/block_header_content-->
                      </h5><!--/block_header--><!--block_content-->
                      <div class="u-block-content u-text"><!--block_content_content--><!--/block_content_content--></div><!--/block_content-->
                    </div>
                  </div><!--/block-->
                </div><!--/position-->
              </div>
            </div>
            <div class="u-align-left u-container-style u-layout-cell u-size-29 u-layout-cell-3">
              <div class="u-container-layout u-container-layout-3">
                <h1 class="u-text u-text-default u-text-palette-4-light-1 u-text-8">
                  <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-4-light-1 u-btn-4" data-href="https://nicepage.com">
                    <span style="font-weight: 700;"></span>&nbsp;<span style="text-decoration: underline !important;"></span>
                    <br>
                    <br>
                    <br>
                  </a>
                </h1>
                <h1 class="u-text u-text-default u-text-palette-4-light-1 u-text-9"> Hast Du Anregungen, Fragen, Wünsche?<br>Schreib uns eine
                </h1>
                <h1 class="u-text u-text-default u-text-palette-4-light-1 u-text-10">
                  <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-hover-palette-4-light-3 u-text-palette-4-light-1 u-btn-5" data-href="mailto:office@qinkel.com?subject=Fragen%2C%20Anregungen%2C%20W%C3%BCnsche" href="mailto:office@qinkel.com?subject=Fragen%2C%20Anregungen%2C%20W%C3%BCnsche"> Email.</a>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="u-text u-text-default u-text-11">©2023 Qinkel. Alle Rechte vorbehalten</p>
    </div>
  </footer>

  <section class="u-align-center u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-dialog-section-12" id="carousel_d559">
    <div class="u-align-center u-container-style u-dialog u-image u-radius-13 u-shape-round u-image-1" data-image-width="1434" data-image-height="1100">
      <div class="u-container-layout u-container-layout-1">
        <h2 class="u-custom-font u-font-oswald u-text u-text-body-alt-color u-text-1">Lebenslange Garantie<br>
        </h2>
        <p class="u-text u-text-body-alt-color u-text-2">Sollte der Fall eintreten,&nbsp;<br>dass Deine Qinkel Kugeln sich abnutzen
          <br>&nbsp;und der Lack abblättert,&nbsp;<br>
          <span style="font-weight: 700;">ersetzten</span> wir Dir diese&nbsp;<br>– ohne Wenn und Aber -<br>
          <span style="font-weight: 700;">kostenfrei</span> .<br>
          <br>Das ist unser ehrliches Qualitätsversprechen.<br>
          <br>
          <span style="font-weight: 700;">Tom &amp; Stefan von Qinkel</span>
        </p>
        <span class="u-file-icon u-icon u-icon-1"><img src="images/1156677.png" alt=""></span>
      </div>
      <button class="u-dialog-close-button u-icon u-text-white u-icon-2">
        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 492 492" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-51a0"></use>
        </svg>
        <svg class="u-svg-content" viewBox="0 0 492 492" x="0px" y="0px" id="svg-51a0" style="enable-background:new 0 0 492 492;">
          <g><g><path d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872    c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872    c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052    L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116    c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952    c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116    c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z"></path>
          </g></g>
         </svg>
        </button>
      </div>
    </section>

    <style>
      .u-dialog-section-12 .u-image-1 {
        width: 636px;
        min-height: 1099px;
        box-shadow: 9px 9px 4px 0 rgba(0,0,0,0.2);
        background-image: url("images/fdfddf.jpg");
        background-position: 50% 50%;
        margin: 113px auto 60px calc(((100% - 1140px) / 2) + 217px);
      }

      .u-dialog-section-12 .u-container-layout-1 {
        padding: 39px 30px 40px;
      }

      .u-dialog-section-12 .u-text-1 {
        text-transform: uppercase;
        font-size: 3.75rem;
        font-weight: 700;
        font-family: Oswald, sans-serif;
        margin: 73px 20px 0;
      }

      .u-dialog-section-12 .u-text-2 {
        line-height: 1.6;
        font-size: 1.5rem;
        margin: 73px 0 0 40px;
      }

      .u-dialog-section-12 .u-icon-1 {
        height: 133px;
        width: 133px;
        margin: 80px auto 0;
      }

      .u-dialog-section-12 .u-icon-2 {
        width: 27px;
        height: 27px;
        left: auto;
        top: 17px;
        position: absolute;
        right: 16px;
      }

      @media (max-width: 1199px) {
        .u-dialog-section-12 .u-image-1 {
          height: auto;
          margin-left: calc(((100% - 940px) / 2) + 217px);
        }
      }

      @media (max-width: 991px) {
        .u-dialog-section-12 .u-image-1 {
          margin-left: calc(((100% - 720px) / 2) + 84px);
        }

        .u-dialog-section-12 .u-container-layout-1 {
          padding: 30px 50px;
        }
      }

      @media (max-width: 767px) {
        .u-dialog-section-12 .u-image-1 {
          width: 540px;
          min-height: 615px;
          margin-left: auto;
        }

        .u-dialog-section-12 .u-container-layout-1 {
          padding-top: 45px;
          padding-left: 45px;
          padding-right: 45px;
        }

        .u-dialog-section-12 .u-text-1 {
          margin-left: 0;
          margin-right: 0;
        }

        .u-dialog-section-12 .u-text-2 {
          margin-left: 0;
        }

        .u-dialog-section-12 .u-icon-1 {
          margin-top: 227px;
        }
      }

      @media (max-width: 575px) {
        .u-dialog-section-12 .u-image-1 {
          width: 340px;
          min-height: 865px;
        }

        .u-dialog-section-12 .u-container-layout-1 {
          padding: 50px 25px 0;
        }

        .u-dialog-section-12 .u-text-1 {
          font-size: 2.25rem;
          width: auto;
          margin-top: 51px;
        }

        .u-dialog-section-12 .u-text-2 {
          font-size: 1.125rem;
          margin-top: 62px;
        }

        .u-dialog-section-12 .u-icon-1 {
          margin-top: 74px;
        }
      }
    </style>
  </body>
</html>
