---
layout: layouts/base.njk
title: "Qinkel Magnetkugeln - Datenschutz"
description: "Datenschutzerklärung und Betroffenenrechte"
slug: "datenschutz"
permalink: "/datenschutz.html"
date: "2024-04-28"
---
    <section class="u-clearfix" id="sec-a226">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h3 class="u-text u-text-default u-text-1">Datenschutz</h3>
        <p class="u-text u-text-default u-text-2">
          <br> 
1) Einleitung und Kontaktdaten des Verantwortlichen<br/>
          1.1 Wir freuen uns, dass Sie unsere Website besuchen und bedanken uns für Ihr
Interesse. Im Folgenden informieren wir Sie über den Umgang mit Ihren
personenbezogenen Daten bei der Nutzung unserer Website. Personenbezogene Daten
sind hierbei alle Daten, mit denen Sie persönlich identifiziert werden können.
          1.2 Verantwortlicher für die Datenverarbeitung auf dieser Website im Sinne der
Datenschutz-Grundverordnung (DSGVO) ist SteTho OG, Mariahilfer Straße 136/1.10,
1150 Wien, Österreich, Tel.: 00436506605216, E-Mail: thomas.schmit@stetho.at. Der für
die Verarbeitung von personenbezogenen Daten Verantwortliche ist diejenige natürliche
oder juristische Person, die allein oder gemeinsam mit anderen über die Zwecke und
Mittel der Verarbeitung von personenbezogenen Daten entscheidet.
          <br/>
          <br/>
2) Datenerfassung beim Besuch unserer Website<br/>
          2.1 Bei der bloß informatorischen Nutzung unserer Website, also wenn Sie sich nicht
registrieren oder uns anderweitig Informationen übermitteln, erheben wir nur solche
Daten, die Ihr Browser an den Seitenserver übermittelt (sog. „Server-Logfiles“). Wenn
Sie unsere Website aufrufen, erheben wir die folgenden Daten, die für uns technisch
erforderlich sind, um Ihnen die Website anzuzeigen:
          - Unsere besuchte Website<br> - Datum und Uhrzeit zum Zeitpunkt des Zugriffes<br> - Menge der gesendeten Daten in Byte<br> - Quelle/Verweis, von welchem Sie auf die Seite gelangten
- Verwendeter Browser<br> - Verwendetes Betriebssystem<br> - Verwendete IP-Adresse (ggf.: in anonymisierter Form)
          Die Verarbeitung erfolgt gemäß Art. 6 Abs. 1 lit. f DSGVO auf Basis unseres berechtigten
Interesses an der Verbesserung der Stabilität und Funktionalität unserer Website. Eine
Weitergabe oder anderweitige Verwendung der Daten findet nicht statt. Wir behalten
uns allerdings vor, die Server-Logfiles nachträglich zu überprüfen, sollten konkrete
Anhaltspunkte auf eine rechtswidrige Nutzung hinweisen.
          2.2 Diese Website nutzt aus Sicherheitsgründen und zum Schutz der Übertragung
personenbezogener Daten und anderer vertraulicher Inhalte (z.B. Bestellungen oder
Anfragen an den Verantwortlichen) eine SSL-bzw. TLS-Verschlüsselung. Sie können eine
verschlüsselte Verbindung an der Zeichenfolge „https://“ und dem Schloss-Symbol in
Ihrer Browserzeile erkennen.
          <br/>
          <br/>
3) Cookies<br/>
          Um den Besuch unserer Website attraktiv zu gestalten und die Nutzung bestimmter
Funktionen zu ermöglichen, verwenden wir Cookies, also kleine Textdateien, die auf
Ihrem Endgerät abgelegt werden. Teilweise werden diese Cookies nach Schließen des
Browsers automatisch wieder gelöscht (sog. „Session-Cookies“), teilweise verbleiben
diese Cookies länger auf Ihrem Endgerät und ermöglichen das Speichern von
Seiteneinstellungen (sog. „persistente Cookies“). Im letzteren Fall können Sie die
Speicherdauer der Übersicht zu den Cookie-Einstellungen Ihres Webbrowsers
entnehmen.
          Sofern durch einzelne von uns eingesetzte Cookies auch personenbezogene Daten
verarbeitet werden, erfolgt die Verarbeitung gemäß Art. 6 Abs. 1 lit. b DSGVO entweder
zur Durchführung des Vertrages, gemäß Art. 6 Abs. 1 lit. a DSGVO im Falle einer
erteilten Einwilligung oder gemäß Art. 6 Abs. 1 lit. f DSGVO zur Wahrung unserer
berechtigten Interessen an der bestmöglichen Funktionalität der Website sowie einer
kundenfreundlichen und effektiven Ausgestaltung des Seitenbesuchs.
          Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert
werden und einzeln über deren Annahme entscheiden oder die Annahme von Cookies
für bestimmte Fälle oder generell ausschließen können.
          Bitte beachten Sie, dass bei Nichtannahme von Cookies die Funktionalität unserer
Website eingeschränkt sein kann.
          <br/>
          <br/>
4) Kontaktaufnahme<br/>
          Im Rahmen der Kontaktaufnahme mit uns (z.B. per Kontaktformular oder E-Mail) werden
– ausschließlich zum Zweck der Bearbeitung und Beantwortung Ihres Anliegens und nur
im dafür erforderlichen Umfang – personenbezogene Daten verarbeitet.
          Rechtsgrundlage für die Verarbeitung dieser Daten ist unser berechtigtes Interesse an
der Beantwortung Ihres Anliegens gemäß Art. 6 Abs. 1 lit. f DSGVO. Zielt Ihre
Kontaktierung auf einen Vertrag ab, so ist zusätzliche Rechtsgrundlage für die
Verarbeitung Art. 6 Abs. 1 lit. b DSGVO. Ihre Daten werden gelöscht, wenn sich aus den
Umständen entnehmen lässt, dass der betroffene Sachverhalt abschließend geklärt ist
und sofern keine gesetzlichen Aufbewahrungspflichten entgegenstehen.
          <br/>
          <br/>
          5) Nutzung von Kundendaten zur Direktwerbung<br/>
          Anmeldung zu unserem E-Mail-Newsletter
          Wenn Sie sich zu unserem E-Mail Newsletter anmelden, übersenden wir Ihnen
regelmäßig Informationen zu unseren Angeboten. Pflichtangabe für die Übersendung
des Newsletters ist allein Ihre E-Mailadresse. Die Angabe weiterer Daten ist freiwillig und
wird verwendet, um Sie persönlich ansprechen zu können. Für den Newsletter-Versand
verwenden wir das sog. Double Opt-in Verfahren, mit dem sichergestellt wird, dass Sie
Newsletter erst erhalten, wenn Sie uns durch Betätigung eines an die angegebene&nbsp;<br>
          <br>
          <br> Mailadresse versandten Verifizierungslinks ausdrücklich Ihre Einwilligung in den
Newsletterempfang bestätigt haben
          Mit der Aktivierung des Bestätigungslinks erteilen Sie uns Ihre Einwilligung für die
Nutzung Ihrer personenbezogenen Daten gemäß Art. 6 Abs. 1 lit. a DSGVO. Hierbei
speichern wir Ihre vom Internet Service-Provider (ISP) eingetragene IP-Adresse sowie
das Datum und die Uhrzeit der Anmeldung, um einen möglichen Missbrauch Ihrer E-Mail-
Adresse zu einem späteren Zeitpunkt nachvollziehen zu können. Die von uns bei der
Anmeldung zum Newsletter erhobenen Daten werden streng zweckgebunden
verwendet.
          Sie können den Newsletter jederzeit über den dafür vorgesehenen Link im Newsletter
oder durch entsprechende Nachricht an den eingangs genannten Verantwortlichen
abbestellen. Nach erfolgter Abmeldung wird Ihre E-Mailadresse unverzüglich in unserem
Newsletter-Verteiler gelöscht, soweit Sie nicht ausdrücklich in eine weitere Nutzung Ihrer
Daten eingewilligt haben oder wir uns eine darüberhinausgehende Datenverwendung
vorbehalten, die gesetzlich erlaubt ist und über die wir Sie in dieser Erklärung
informieren.
          <br/>
          <br/>
          6) Datenverarbeitung zur Bestellabwicklung<br/>
          Soweit für die Vertragsabwicklung zu Liefer- und Zahlungszwecken erforderlich, werden
die von uns erhobenen personenbezogenen Daten gemäß Art. 6 Abs. 1 lit. b DSGVO an
das beauftragte Transportunternehmen und das beauftragte Kreditinstitut
weitergegeben.
          Sofern wir Ihnen auf Grundlage eines entsprechenden Vertrages Aktualisierungen für
Waren mit digitalen Elementen oder für digitale Produkte schulden, verarbeiten wir die
von Ihnen bei der Bestellung übermittelten Kontaktdaten (Name, Anschrift, Mailadresse),
um Sie im Rahmen unserer gesetzlichen Informationspflichten gemäß Art. 6 Abs. 1 lit. c
DSGVO auf geeignetem Kommunikationsweg (etwa postalisch oder per Mail) über
anstehende Aktualisierungen im gesetzlich vorgesehenen Zeitraum persönlich zu
informieren. Ihre Kontaktdaten werden hierbei streng zweckgebunden für Mitteilungen
über von uns geschuldete Aktualisierungen verwendet und zu diesem Zweck durch uns
nur insoweit verarbeitet, wie dies für die jeweilige Information erforderlich ist.
          Zur Abwicklung Ihrer Bestellung arbeiten wir ferner mit dem / den nachstehenden
Dienstleister(n) zusammen, die uns ganz oder teilweise bei der Durchführung
geschlossener Verträge unterstützen. An diese Dienstleister werden nach Maßgabe der
folgenden Informationen gewisse personenbezogene Daten übermittelt.
          <br/>
          <br/>
          7) Seitenfunktionalitäten<br/>
7.1 Facebook-Plugins
          Auf unserer Website werden Plugins des sozialen Netzwerkes des folgenden Anbieters
verwendet: Meta Platforms Ireland Ltd., 4 Grand Canal Square, Grand Canal Harbour,
Dublin 2, Irland&nbsp;<br>
          <br> Diese Plugins ermöglichen direkte Interaktionen mit Inhalten auf dem sozialen Netzwerk. <br>
          <br> Um den Schutz Ihrer Daten beim Besuch unserer Website zu erhöhen, sind die Plugins
zunächst deaktiviert mittels sogenannter „2-Klick“- oder „Shariff“-Lösung in die Seite
eingebunden.
          Diese Einbindung gewährleistet, dass beim Aufruf einer Seite unseres Webauftritts, die
solche Plugins enthält, noch keine Verbindung mit den Servern des Anbieters hergestellt
wird.
          Erst wenn Sie die Plugins aktivieren und damit gemäß Art. 6 Abs. 1 lit. a DSGVO Ihre
Einwilligung in die Datenübermittlung erteilen, stellt Ihr Browser eine direkte Verbindung
zu den Servern des Anbieters her. Hierbei werden, unabhängig von einem Login in ein
vorhandenes Nutzerprofil, in bestimmtem Umfang Informationen über Ihr verwendetes
Endgerät (darunter Ihre IP-Adresse), Ihren Browser und Ihren Seitenverlauf an den
Anbieter übermittelt und dort gegebenenfalls weiterverarbeitet.
          Wenn Sie in ein vorhandenes Nutzerprofil auf dem sozialen Netzwerk des Anbieters
eingeloggt sind, werden Informationen zu über die Plugins vollzogenen Interaktionen
außerdem dort veröffentlicht und Ihren Kontakten angezeigt.<br> Sie können Ihre Einwilligung jederzeit widerrufen indem Sie das aktivierte Plugin durch
erneutes Anklicken wieder deaktivieren. Der Widerruf hat jedoch keinen Einfluss auf die
Daten, die bereits an den Anbieter übertragen wurden.
          Daten können zudem übertragen werden an: Meta Platforms Inc., USA
          Wir haben mit dem Anbieter einen Auftragsverarbeitungsvertrag geschlossen, der den
Schutz der Daten unserer Seitenbesucher sicherstellt und eine unberechtigte
Weitergabe an Dritte untersagt.
          Für Datenübermittlungen in die USA hat sich der Anbieter dem
EU-US-Datenschutzrahmen (EU-US Data Privacy Framework) angeschlossen, das auf
Basis eines Angemessenheitsbeschlusses der Europäischen Kommission die Einhaltung
des europäischen Datenschutzniveaus sicherstellt.
          7.2 Instagram-Plugins
          Auf unserer Website werden Plugins des sozialen Netzwerkes des folgenden Anbieters
verwendet: Meta Platforms Ireland Ltd., 4 Grand Canal Square, Grand Canal Harbour,
Dublin 2 Irland
          Diese Plugins ermöglichen direkte Interaktionen mit Inhalten auf dem sozialen Netzwerk.
          Um den Schutz Ihrer Daten beim Besuch unserer Website zu erhöhen, sind die Plugins
zunächst deaktiviert mittels sogenannter „2-Klick“- oder „Shariff“-Lösung in die Seite
eingebunden.&nbsp;<br>
          <br>
          <br> Diese Einbindung gewährleistet, dass beim Aufruf einer Seite unseres Webauftritts, die
solche Plugins enthält, noch keine Verbindung mit den Servern des Anbieters hergestellt
wird.
          Erst wenn Sie die Plugins aktivieren und damit gemäß Art. 6 Abs. 1 lit. a DSGVO Ihre
Einwilligung in die Datenübermittlung erteilen, stellt Ihr Browser eine direkte Verbindung
zu den Servern des Anbieters her. Hierbei werden, unabhängig von einem Login in ein
vorhandenes Nutzerprofil, in bestimmtem Umfang Informationen über Ihr verwendetes
Endgerät (darunter Ihre IP-Adresse), Ihren Browser und Ihren Seitenverlauf an den
Anbieter übermittelt und dort gegebenenfalls weiterverarbeitet.
          Wenn Sie in ein vorhandenes Nutzerprofil auf dem sozialen Netzwerk des Anbieters
eingeloggt sind, werden Informationen zu über die Plugins vollzogenen Interaktionen
außerdem dort veröffentlicht und Ihren Kontakten angezeigt.<br>
          <br>&nbsp;Sie können Ihre Einwilligung jederzeit widerrufen indem Sie das aktivierte Plugin durch
erneutes Anklicken wieder deaktivieren. Der Widerruf hat jedoch keinen Einfluss auf die
Daten, die bereits an den Anbieter übertragen wurden.
          Daten können zudem übertragen werden: Meta Platforms Inc., USA
          Wir haben mit dem Anbieter einen Auftragsverarbeitungsvertrag geschlossen, der den
Schutz der Daten unserer Seitenbesucher sicherstellt und eine unberechtigte
Weitergabe an Dritte untersagt.
          Für Datenübermittlungen in die USA hat sich der Anbieter dem
EU-US-Datenschutzrahmen (EU-US Data Privacy Framework) angeschlossen, das auf
Basis eines Angemessenheitsbeschlusses der Europäischen Kommission die Einhaltung
des europäischen Datenschutzniveaus sicherstellt.
          <br/>
          <br/>
8) Rechte des Betroffenen<br/>
          8.1 Das geltende Datenschutzrecht gewährt Ihnen gegenüber dem Verantwortlichen
hinsichtlich der Verarbeitung Ihrer personenbezogenen Daten die nachstehenden
Betroffenenrechte (Auskunfts- und Interventionsrechte), wobei für die jeweiligen
Ausübungsvoraussetzungen auf die angeführte Rechtsgrundlage verwiesen wird:
          - Auskunftsrecht gemäß Art. 15 DSGVO;<br>
          <br>&nbsp;- Recht auf Berichtigung gemäß Art. 16 DSGVO;<br> - Recht auf Löschung gemäß Art. 17 DSGVO;<br> - Recht auf Einschränkung der Verarbeitung gemäß Art. 18 DSGVO;<br> - Recht auf Unterrichtung gemäß Art. 19 DSGVO;<br> - Recht auf Datenübertragbarkeit gemäß Art. 20 DSGVO;<br> - Recht auf Widerruf erteilter Einwilligungen gemäß Art. 7 Abs. 3 DSGVO;
- Recht auf Beschwerde gemäß Art. 77 DSGVO.
          8.2 WIDERSPRUCHSRECHT&nbsp;<br>
          <br>
          <br> WENN WIR IM RAHMEN EINER INTERESSENABWÄGUNG IHRE PERSONENBEZOGENEN
DATEN AUFGRUND UNSERES ÜBERWIEGENDEN BERECHTIGTEN INTERESSES
VERARBEITEN, HABEN SIE DAS JEDERZEITIGE RECHT, AUS GRÜNDEN, DIE SICH AUS
IHRER BESONDEREN SITUATION ERGEBEN, GEGEN DIESE VERARBEITUNG WIDERSPRUCH
MIT WIRKUNG FÜR DIE ZUKUNFT EINZULEGEN.
          MACHEN SIE VON IHREM WIDERSPRUCHSRECHT GEBRAUCH, BEENDEN WIR DIE
VERARBEITUNG DER BETROFFENEN DATEN. EINE WEITERVERARBEITUNG BLEIBT ABER
VORBEHALTEN, WENN WIR ZWINGENDE SCHUTZWÜRDIGE GRÜNDE FÜR DIE
VERARBEITUNG NACHWEISEN KÖNNEN, DIE IHRE INTERESSEN, GRUNDRECHTE UND
GRUNDFREIHEITEN ÜBERWIEGEN, ODER WENN DIE VERARBEITUNG DER
GELTENDMACHUNG, AUSÜBUNG ODER VERTEIDIGUNG VON RECHTSANSPRÜCHEN
DIENT.
          WERDEN IHRE PERSONENBEZOGENEN DATEN VON UNS VERARBEITET, UM
DIREKTWERBUNG ZU BETREIBEN, HABEN SIE DAS RECHT, JEDERZEIT WIDERSPRUCH
GEGEN DIE VERARBEITUNG SIE BETREFFENDER PERSONENBEZOGENER DATEN ZUM
ZWECKE DERARTIGER WERBUNG EINZULEGEN. SIE KÖNNEN DEN WIDERSPRUCH WIE
OBEN BESCHRIEBEN AUSÜBEN.
          MACHEN SIE VON IHREM WIDERSPRUCHSRECHT GEBRAUCH, BEENDEN WIR DIE
VERARBEITUNG DER BETROFFENEN DATEN ZU DIREKTWERBEZWECKEN.&nbsp;<br>
          <br/>
          <br/>
9) Dauer der Speicherung personenbezogener Daten<br/>
          Die Dauer der Speicherung von personenbezogenen Daten bemisst sich anhand der
jeweiligen Rechtsgrundlage, am Verarbeitungszweck und – sofern einschlägig –
zusätzlich anhand der jeweiligen gesetzlichen Aufbewahrungsfrist (z.B. handels- und
steuerrechtliche Aufbewahrungsfristen).
          Bei der Verarbeitung von personenbezogenen Daten auf Grundlage einer ausdrücklichen
Einwilligung gemäß Art. 6 Abs. 1 lit. a DSGVO werden die betroffenen Daten so lange
gespeichert, bis Sie Ihre Einwilligung widerrufen.
          Existieren gesetzliche Aufbewahrungsfristen für Daten, die im Rahmen
rechtsgeschäftlicher bzw. rechtsgeschäftsähnlicher Verpflichtungen auf der Grundlage
von Art. 6 Abs. 1 lit. b DSGVO verarbeitet werden, werden diese Daten nach Ablauf der
Aufbewahrungsfristen routinemäßig gelöscht, sofern sie nicht mehr zur
Vertragserfüllung oder Vertragsanbahnung erforderlich sind und/oder unsererseits kein
berechtigtes Interesse an der Weiterspeicherung fortbesteht.
          Bei der Verarbeitung von personenbezogenen Daten auf Grundlage von Art. 6 Abs. 1 lit.
f DSGVO werden diese Daten so lange gespeichert, bis Sie Ihr Widerspruchsrecht nach
Art. 21 Abs. 1 DSGVO ausüben, es sei denn, wir können zwingende schutzwürdige
Gründe für die Verarbeitung nachweisen, die Ihre Interessen, Rechte und Freiheiten
überwiegen, oder die Verarbeitung dient der Geltendmachung, Ausübung oder
Verteidigung von Rechtsansprüchen. <br>
          <br>
          <br> Bei der Verarbeitung von personenbezogenen Daten zum Zwecke der Direktwerbung auf
Grundlage von Art. 6 Abs. 1 lit. f DSGVO werden diese Daten so lange gespeichert, bis
Sie Ihr Widerspruchsrecht nach Art. 21 Abs. 2 DSGVO ausüben.
          Sofern sich aus den sonstigen Informationen dieser Erklärung über spezifische
Verarbeitungssituationen nichts anderes ergibt, werden gespeicherte personenbezogene
Daten im Übrigen dann gelöscht, wenn sie für die Zwecke, für die sie erhoben oder auf
sonstige Weise verarbeitet wurden, nicht mehr notwendig sind. <br>
          <br>
          <br>
        </p>
      </div>
    </section>