---
layout: layouts/base.njk
title: "Qinkel Magnetkugeln - Impressum"
description: "Impressum und rechtliche Informationen zur Qinkel Webpräsenz"
slug: impressum
permalink: "/impressum.html"
date: 2024-04-28
---
    <section class="u-clearfix" id="sec-a226">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h3 class="u-text u-text-default u-text-1">Impressum<span style="font-size: 1.25rem;"></span>
        </h3>
        <p class="u-text u-text-default u-text-2"> Stetho OG&nbsp;<br>Offene Gesellschaft&nbsp;<br>G47 Einzelhandel&nbsp;<br>FN 565241 m&nbsp;<br>FB-Gericht: Handelsgericht Wien&nbsp;<br>
          <br>Mariahilfer Straße 136/1.10&nbsp;<br>1150 Wien&nbsp;<br>Tel: +43 (0)1 9610100&nbsp;<br>E-Mail: <a href="mailto:office@stetho.at" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">office@stetho.at</a>
          <br>
          <br>&nbsp;Mitglied der WK Wien
vertretungsbefugte Gesellschafter:&nbsp;<br>DI (FH) Stefan Kaps
(50%), DI (FH) Thomas Schmit (50%)
Verbraucher haben die Möglichkeit,&nbsp;<br>Beschwerden an die
OnlineStreitbeilegungsplattform der EU zu richten:
http://ec.europa.eu/odr.&nbsp;&nbsp;<br>
          <br>Sie können
allfällige Beschwerde auch an die oben angegebene E-Mail-Adresse richten.&nbsp;&nbsp;<br>
        </p>
      </div>
    </section>