---
layout: layouts/base.njk
title: "Qinkel Magnetkugeln"
description: "Qinkel. Das spannende 3D Puzzel aus Neodym Magneten."
date: 2024-05-06
---
    <section class="u-align-center u-clearfix u-image u-shading u-section-1" id="carousel_830e" data-image-width="2000" data-image-height="2000">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-body-alt-color u-text-default u-text-1"> Entdecke mit den Qinkel Magnetkugeln wieder Deine Kreativität!</h2>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center-xs u-grey-5 u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-section-2" id="carousel_63e2">
      <div class="u-align-center u-container-style u-custom-color-2 u-expanded-width u-group u-shape-rectangle u-group-1">
        <div class="u-container-layout u-container-layout-1">
          <h2 class="u-text u-text-white u-text-1"> Sei kreativ und baue Deine eigenen Figuren mit den superstarken Qinkel Neodym Magnetkugeln!&nbsp;<br>Du wirst nicht aufhören können…
          </h2>
        </div>
      </div>
      <div class="u-layout-grid u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
            <div class="u-container-layout u-similar-container u-container-layout-2">
              <img src="images/xmas-2.jpg" alt="" class="u-expanded-width u-image u-image-default u-image-1" data-image-width="500" data-image-height="501">
              <h3 class="u-custom-font u-text u-text-custom-color-2 u-text-2"> Einfach das perfekte Geschenk</h3>
              <p class="u-text u-text-3"> Das perfekte Geschenk ist eines, was man nicht mehr aus der Hand nimmt!</p>
            </div>
          </div>
          <div class="u-align-center u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
            <div class="u-container-layout u-similar-container u-container-layout-3">
              <img src="images/Bildschirmfoto2023-12-21um19.39.52.png" alt="" class="u-expanded-width u-image u-image-default u-image-2" data-image-width="1033" data-image-height="1202">
              <h3 class="u-custom-font u-text u-text-custom-color-2 u-text-4"> Ein Spass für die ganze Familie</h3>
              <p class="u-text u-text-5"> Wer macht die tollsten Figuren? Finde es doch jetzt heraus.</p>
            </div>
          </div>
          <div class="u-align-center u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
            <div class="u-container-layout u-similar-container u-container-layout-4">
              <img src="images/startk.jpg" alt="" class="u-expanded-width u-image u-image-default u-image-3" data-image-width="2000" data-image-height="2000">
              <h3 class="u-custom-font u-text u-text-custom-color-2 u-text-6"> Klein, aber ganz schön Oho!</h3>
              <p class="u-text u-text-7"> Die Neodymnmagneten sind klein aber haben extrem starke Anziehungskräfte.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-gradient u-section-3" id="carousel_7130">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1">
        <h2 class="u-text u-text-body-alt-color u-text-default-lg u-text-default-md u-text-default-xl u-text-1">Warum Du Qinkel brauchst</h2>
        <h5 class="u-text u-text-default u-text-2">&nbsp;Exzessiver Medienkonsum frisst Deine Lebenszeit.&nbsp;<br>Hier ein paar Fakten dazu:
        </h5>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white u-list-item-1">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <h4 class="u-text u-text-palette-1-base u-text-3">Um das&nbsp;<br>6-fache
                </h4>
                <p class="u-text u-text-palette-1-dark-2 u-text-4"> erhöht sich laut einer Studie das Risiko für Konzentrationsstörungen,&nbsp;<br> bereits wenn man mehr als eine halbe Stunde Handy am Tag konsumiert.
                </p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <h4 class="u-text u-text-palette-1-base u-text-5"> 89% aller Jugendlichen&nbsp;</h4>
                <p class="u-text u-text-palette-1-dark-2 u-text-6">sind täglich mehr als 250 Minuten online und 60% aller Handyuser klagen über Symptome von digitalem Augenstress nach der<br>Nutzung digitaler Geräte,<br>einschließlich trockener Augen und Kopfschmerzen.
                </p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-3">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <h4 class="u-text u-text-palette-1-base u-text-7">Tiktok&nbsp;<br>und Co
                </h4>
                <p class="u-text u-text-palette-1-dark-2 u-text-8"> Die derzeitige<br>Medienlandschaft mit den<br>kurzen Impulsen schadet<br>wissenschaftlich erwiesen der<br>Konzentration und<br>Stressbewältigung
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-image u-section-4" id="carousel_27bf" data-image-width="970" data-image-height="300">
      <div class="u-clearfix u-sheet u-sheet-1"></div>
    </section>
    <section class="u-align-left u-clearfix u-section-5" id="carousel_d7ee">
      <h2 class="u-text u-text-default-lg u-text-default-md u-text-default-xl u-text-palette-4-base u-text-1"> Hol Dir Deine lebenslange Garantie&nbsp;</h2>
      <p class="u-text u-text-2"> Registriere Deine Qinkel Magnetkugeln und geniesse Deine lebenslange <a href="#carousel_d559" class="u-active-none u-border-none u-btn u-button-link u-button-style u-dialog-link u-hover-none u-none u-text-palette-4-dark-1 u-btn-1">Garantie</a>.<a data-href="#carousel_d559">
          <br>
        </a>
      </p>
      <img class="u-expanded-width-xs u-image u-image-1" src="images/prodbild1.jpg?rand=081e" data-image-width="1080" data-image-height="809">
      <div class="custom-expanded u-clearfix u-custom-html u-custom-html-1">

        <form 
          action="/api/registerGuarantee" 
          method="post" 
          id="mc-embedded-subscribe-form" 
          name="mc-embedded-subscribe-form" 
          class="validate">
          <div id="mc_embed_signup_scroll">

          <table border="0">
            <tbody>
              <tr>
                <td><label for="mce-EMAIL">E-Mail-Adresse <span class="asterisk">(*)</span>
                    </label></td>
                <td><input type="email" name="EMAIL" id="mce-EMAIL" size="25" maxlength=100 required placeholder="deine E-Mail-Adresse"></td>
              </tr>
              <tr>
                <td><label for="mce-FNAME">Vornamen </label></td>
                <td><input type="text" name="FIRSTNAME" class="text" size="25" maxlength=100 id="mce-FNAME" placeholder="deine Vornamen"></td>
              </tr>
              <tr>
                <td><label for="mce-LNAME">Nachname </label></td>
                <td><input type="text" name="LASTNAME" class="text" size="25" maxlength=100 id="mce-LNAME" placeholder="dein Nachname"></td>
              </tr>
              <tr>
                <td><label for="mce-BIRTHDAY-month">Geburtstag</label></td>
                <td><span class="dayfield subfield">
                        <input class="REQ_CSS birthday" type="text" pattern="[0-9]*" placeholder="TT" size="4" maxlength="2" name="BIRTHDAY[day]" id="mce-BIRTHDAY-day" value="">
                      </span> /<span class="monthfield subfield">
                        <input class="REQ_CSS birthday" type="text" pattern="[0-9]*" placeholder="MM" size="4" maxlength="2" name="BIRTHDAY[month]" id="mce-BIRTHDAY-month" value="">
                      </span>
                      <br/>
                      (z.B. 23/06)
                </td>
              </tr>
              <tr>
                <td><label for="mce-MMERGE6">EAN Code</label></td>
                <td><input type="text" name="EANCODE" class="text" size="25" maxlength=100 id="mce-MMERGE6" value=""><br/>(auf der Rückseite der Verpackung)</td>
              </tr>
              <tr>
                <td><label for="LEADCHANNEL">Wie hast du von Qinkel erfahren?</label></td>
                <td><input type="text" name="LEADCHANNEL" class="text" size="25" maxlength=100 id="LEADCHANNEL" placeholder="z.B. Empfehlung von Freunden"></td>
              </tr>
              <tr>
                <td><span class="asterisk">(*)</span> markieren Pflichtfelder</td>
                <td>
                  <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="u-border-none u-btn u-custom-color-4 u-hover-palette-4-light-1 u-radius" value="Registrieren">
                </td>
              </tr>
            </tbody>
          </table>

          <div id="mce-responses" class="clear foot"> {#- Honepot - Field to trap Bots -#}
            <input type="text" name="kundenNummer" class="text" id="kundenNummer" placeholder="Kundenummer">
          </div>

        </form>
        <script>
          document.getElementById('mce-responses').style.display = 'none'; {#- hide the Honepot -#}
        </script>

      </div>
    </section>
    <section class="u-clearfix u-grey-80 u-section-6" id="sec-51e5">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-align-left u-expanded-width u-left-0 u-video u-video-1">
          <div class="embed-responsive embed-responsive-1">
            <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/QlyjJrzQ5eo?mute=0&amp;showinfo=0&amp;controls=0&amp;start=0" frameborder="0" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center-lg u-container-align-center-xl u-palette-1-dark-1 u-section-7" id="sec-9834">
      <div class="u-align-left u-clearfix u-sheet u-valign-bottom u-sheet-1">
        <h4 class="u-align-center u-text u-text-default-lg u-text-default-xl u-text-white u-text-1"> Was sagen unsere mehr als 3.000 zufriedenen&nbsp;<br>K​unden?
        </h4>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                <p class="u-align-center u-text u-text-palette-4-light-2 u-text-2"> “Du wirst wie ich die nur 5mm kleinen, bunten Qinkel Kugeln so schnell nicht mehr weglegen wollen!”<br>
                  <br>— BIRGIT AUS VORARLBERG<br>
                </p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                <p class="u-align-center u-text u-text-palette-4-light-2 u-text-3"> “Dank des speziellen chemischen Elements (Neodym) sind die Qinkel Magnetkugeln verblüffend anziehend. Das kann ich auch im Büro für meine Zettel gut gebrauchen!”<br>
                  <br>— MARKUS AUS HANNOVER<br>
                </p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                <p class="u-align-center u-text u-text-palette-4-light-2 u-text-4"> “Manche Figuren sind durchaus eine kleine Herausforderung. Mit Hilfe der Splittercard und der Anleitung habe ich tolle Figuren geqinkelt.”<br>
                  <br>— KARIN AUS MÜNCHEN
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>