---
layout: layouts/home.njk
tags:
  - nav
navtitle: Kontakt
title: "Qinkel Magnetkugeln - Kontakt"
description: "Kontakt und Verbesserungsvorschläge"
date: 2024-04-28
---
    <section class="u-clearfix" id="sec-a226">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-custom-color-2 u-text-default u-text-1">Wünsche, Anregungen,…</h2>
        <p class="u-text u-text-default u-text-2"> Stetho&nbsp;OG<br>
          <br>Mariahilfer Straße 136/1.10<br>1150 Wien<br>Tel: +43 (0)1 9610100<br>office@qinkel.com<br>
          <br>
        </p>
      </div>
    </section>