---
layout: layouts/base.njk
pagination:
  data: prices
  size: 1
  alias: price
date: 2024-04-28
permalink: /{{ price.product.name | slug}}.html
---

    <section class="u-align-left u-clearfix u-section-3" style="background: white;">
      <div class="u-clearfix u-sheet">
        <a href="/Shop"><< zurück zum Katalog</a>

        <div class="grid-container">
          <div class="gallery-column">
            <div class="carousel-container" ontouchstart="handleTouchStart(event)" ontouchmove="handleTouchMove(event)" ontouchend="handleTouchEnd(event)">
              <!-- Clickable areas -->
              <span class="clickable-area left-clickable-area" onclick="showPreviousImage()">&#10094;</span>
              <div class="clickable-area right-clickable-area" onclick="showNextImage()">&#10095;</div>
              
              <img src="{{ price.product.metadata["image1"] }}" class="main-image" id="mainImage" alt="Hauptbild für {{ price.product.name }}">
            </div>
            
            <div class="thumbnails" id="thumbnails">
              {% for i in range(0, 100) -%}
                {% if price.product.metadata["image"+i] -%}
                  <img src="{{ price.product.metadata["image"+i] }}" class="thumbnail" id="thumbnail{{ i-1 }}" alt="Thumbnail für Produktbild Nr. {{ i }} für {{ price.product.name }}" onclick="changeImage(this)">
                {%- endif %}
              {%- endfor %}
            </div>
          </div>

          <div class="details-column">
            <form action="/api/createCheckoutSession" method="POST">
              <h1 class="product-title">{{ price.product.name }}</h1>
              <div class="product-price">{{ price.unit_amount | convertCentsToEuros }} pro Packung</div>
              <div>Preis inkl. MwSt. (20%) von {{ (price.unit_amount / 6) | convertCentsToEuros }}</div>
              <div>Preis exkl. Versandkosten von {{ shippingRates[0].fixed_amount.amount | convertCentsToEuros }}</div>
              <br/>
              <span class="product-description">Anzahl:&nbsp;</span>
              <select name="quantity">
                <option value="1">1 Packung</option>
                <option value="2">2 Packungen</option>
                <option value="3">3 Packungen</option>
                <option value="4">4 Packungen</option>
                <option value="5">5 Packungen</option>
                <option value="6">6 Packungen</option>
                <option value="7">7 Packungen</option>
                <option value="8">8 Packungen</option>
                <option value="9">9 Packungen</option>
                <option value="10">10 Packungen</option>
              </select>
              <br/><br/>
              <b>lieferbar</b>
              <br/><br/>
              <input type="hidden" value="{{ price.id }}" name="price_id" class="hidden"/>
              <button class="u-border-none u-btn u-custom-color-4 u-hover-palette-4-light-1 u-radius" type="submit">Zur Kassa gehen</button>
            </form>
            <br/>
            <b>Produkt weiterempfehlen</b>  
              
              <a class="ec-likely__widget ec-likely__widget--facebook" target="_blank" href="https://facebook.com/sharer/sharer.php?u={{ metadata.url | urlencode}}{{ price.product.name | slug}}">
                <span class="ec-likely__icon ec-likely__icon--facebook"><svg height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M13 0H3C1 0 0 1 0 3v10c0 2 1 3 3 3h5V9H6V7h2V5c0-2 2-2 2-2h3v2h-3v2h3l-.5 2H10v7h3c2 0 3-1 3-3V3c0-2-1-3-3-3z"></path></svg></span>
                <span class="ec-likely__button">Weiterempfehlen</span>
              </a>

              <a class="ec-likely__widget ec-likely__widget--twitter" target="_blank" href="https://twitter.com/intent/tweet/?text=100%20Qinkel%20Magnetkugeln&amp;url={{ metadata.url | urlencode}}{{ price.product.name | slug}}">
                <span class="ec-likely__icon ec-likely__icon--twitter"><svg height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg" fill="#000000"><path d="M9.634 6.81 14.857 1h-2.285l-3.99 4.433L5.143 1H0l5.817 7.525L0 15h2.286L6.88 9.878 10.857 15H16L9.634 6.81Zm-6.8-4.422H4.48l8.686 11.247H11.52L2.834 2.388Z"></path></svg></span>
                <span class="ec-likely__button">Weiterempfehlen</span>
              </a>

              <a class="ec-likely__widget ec-likely__widget--pinterest" target="_blank" href="https://pinterest.com/pin/create/button/?url={{ metadata.url | urlencode }}{{ price.product.name | slug }};media={{ metadata.url | urlencode }}{{ price.product.metadata["image1"] | urlencode }}&amp;description={{ price.product.name | urlencode}}">
                <span class="ec-likely__icon ec-likely__icon--pinterest"><svg height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M7.99 0c-4.417 0-8 3.582-8 8 0 3.39 2.11 6.284 5.086 7.45-.07-.633-.133-1.604.028-2.295.145-.624.938-3.977.938-3.977s-.24-.48-.24-1.188c0-1.112.645-1.943 1.448-1.943.683 0 1.012.512 1.012 1.127 0 .686-.437 1.713-.663 2.664-.19.796.398 1.446 1.184 1.446 1.422 0 2.515-1.5 2.515-3.664 0-1.915-1.377-3.255-3.343-3.255-2.276 0-3.612 1.707-3.612 3.472 0 .688.265 1.425.595 1.826.065.08.075.15.055.23-.06.252-.195.796-.222.907-.035.146-.116.177-.268.107-1-.465-1.624-1.926-1.624-3.1 0-2.523 1.835-4.84 5.287-4.84 2.775 0 4.932 1.977 4.932 4.62 0 2.757-1.74 4.976-4.152 4.976-.81 0-1.573-.42-1.834-.92l-.498 1.903c-.18.695-.668 1.566-.994 2.097.75.232 1.544.357 2.37.357 4.417 0 8-3.582 8-8s-3.583-8-8-8z"></path></svg></span>
                <span class="ec-likely__button">Auf Pinterest veröffentlichen</span>
              </a>

            <br/><br/>
          </div>
        </div>

        <script>
          // Get all carousel images
          var images = document.querySelectorAll('.thumbnail');

          // Function to change the main image when a thumbnail is clicked
          function changeImage(thumbnail) {
            // Get the source of the clicked thumbnail
            var newImageSrc = thumbnail.src;
            
            // Set the source of the main image to the clicked thumbnail's source
            document.getElementById('mainImage').src = newImageSrc;

            // Highlight the currently selected thumbnail
            images.forEach(function(element) {
              element.classList.remove('selected-thumbnail');
            });

            thumbnail.classList.add('selected-thumbnail');
          }

          // Set index to keep track of current image
          var currentIndex = 0;
          images[currentIndex].classList.add('selected-thumbnail');

          // Function to show the next image
          function showNextImage() {
            // Increment index to show the next image
            currentIndex = (currentIndex + 1) % images.length;

            // Display the new thumbnail's image as the main image
            changeImage(document.getElementById('thumbnail'+currentIndex));
          }

          // Function to show the previous image
          function showPreviousImage() {
            // Decrement index to show the previous image
            currentIndex = (currentIndex - 1 + images.length) % images.length;
            
            // Display the new thumbnail's image as the main image
            changeImage(document.getElementById('thumbnail'+currentIndex));
          }

          // Variables for touch event handling
          var touchStartX = 0;
          var touchEndX = 0;

          // Function to handle touchstart event
          function handleTouchStart(event) {
            touchStartX = event.touches[0].clientX;
          }

          // Function to handle touchmove event
          function handleTouchMove(event) {
            touchEndX = event.touches[0].clientX;
          }

          // Function to handle touchend event
          function handleTouchEnd(event) {
            const swipeTolerance = 20;

            if (touchEndX + swipeTolerance < touchStartX) {
              // Swipe left, show next image
              showNextImage();
            } else if (touchEndX > touchStartX + swipeTolerance) {
              // Swipe right, show previous image
              showPreviousImage();
            }
          }
        </script>
      </div>

      <div class="u-clearfix u-sheet" style="text-align: left;">
        <h2>Produktbeschreibung:</h2>
        <h4>...und was ist jetzt das Besondere an unseren Qinkel® Magnetkugeln?</h4>
        <p>
          {{ price.product.description }}
          <br/>
          So ist es natürlich auch uns gegangen - und wir sind überzeugt, so wird es auch Dir gehen!<br/>
        </p>

        <p><b>Anzahl:</b> {{ price.product.metadata.Anzahl }}</p>
        <p><b>Material:</b> {{ price.product.metadata.Material }}</p>
        <p><b>Farbe:</b> {{ price.product.metadata.Farbe }}</p>
        <p><b>Durchmesser:</b> {{ price.product.metadata.Durchmesser }}</p>


        <h4>Achtung:</h4>
        <p>
          Für Kinder unter 14 Jahren nicht geeignet. Dieses Produkt enthält kleine Magnete. Verschluckte Magne- te können im Darm verkleben, schwere Infektionen hervorrufen oder sogar zum Tod führen. Suchen Sie sofort einen Arzt auf, wenn Sie Magnete verschluckt oder eingeatmet haben. Lassen Sie dieses Produkt nicht in der Nähe von Kindern oder Haustieren liegen, die die damit verbundenen Gefahren nicht einschätzen können. Wegen möglicher Störungen sollten Personen mit Herz- schrittmachern die Nähe zu den Magneten meiden.
        </p>

      </div>
    </section>

    <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Product",
      "name": "{{ price.product.name | slug}}",
      "image": "{{ metadata.url }}{{ price.product.mainImage }}",
      "description": "{{ price.product.description }}",
      "brand": {
        "@type": "Brand",
        "name": "Qinkel"
      },
      "offers": {
          "@type": "Offer",
          "url": "{{ metadata.url }}{{ price.product.name | slug}}",
          "itemCondition": "http://schema.org/NewCondition",
          "availability": "https://schema.org/LimitedAvailability",
          "priceCurrency": "EUR",
          "price": "{{ price.unit_amount / 100 }}",
          "priceValidUntil": "{{ price.product.metadata.preisGueltigBis }}"
        }
    }
    </script>

