---
layout: layouts/base.njk
title: "Qinkel Magnetkugeln - Rückgabe"
description: "Informationen zu Widerruf und Rückgabe von Qinkel Bestellungen"
slug: "rueckgabe"
permalink: "/rueckgabe.html"
date: "2024-05-02"
---
   <section class="u-clearfix" id="sec-a226">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h3 class="u-text u-text-default u-text-1">Rückgaberichtlinien</h3>
        <p class="u-text u-text-default u-text-2"><b>&nbsp;(Widerrufsbelehrung)</b>
          <br>
          <br>Widerrufsrecht:
Sie haben das Recht, binnen 14 Tage ohne Angabe von Gründen
den Vertrag zu widerrufen.&nbsp;<br>Widerrufsfrist:
Die Widerrufsfrist beträgt 14 Tage.&nbsp;<br>Ausschluss des Widerrufsrechts:
Das Widerrufsrecht besteht nicht bei Verträgen über die
Lieferung von Waren, die nach Kundenspezifikation angefertigt werden.
Widerrufsfolgen:
Im Falle eines wirksamen Widerrufs sind die beiderseits
empfangenen Leistungen zurückzugewähren.&nbsp;<br>
          <br>Rücksendekosten:
Die Kosten der Rücksendung trägt der Kunde.
Rückzahlung:
Die Rückzahlung erfolgt binnen 5 Werktagen nach Erhalt der
zurückgesandten Ware.
Rücksendeadresse:&nbsp;<br>Stetho OG<br> Mariahilfer Straße 136/1.10<br> 1150 Wien&nbsp; &nbsp;&nbsp;<br>
          <br>Bitte beachten Sie, dass dies nur allgemeine Richtlinien
sind und dass rechtliche Beratung von einem österreichischen Anwalt notwendig
ist, um sicherzustellen, dass Ihre AGB und Rückgaberichtlinien den
österreichischen Gesetzen entsprechen.&nbsp;&nbsp;<br>
        </p>
      </div>
    </section>