---
layout: layouts/base.njk
tags:
  - nav
navtitle: Shop
title: "Qinkel Magnetkugeln - Shop"
description: "JAM-Stack Webshop"
date: 2024-04-28
---

{% set introHeading = title %} {% set introSummary %}{{ content | safe }}{%
endset %}

<main id="main-content" tabindex="-1">
  {% include "productlist.njk" %}
</main>
