---
layout: layouts/base.njk
title: Vielen Dank für Ihre Bestellung!
templateClass: tmpl-post
---

{% set introHeading = title %}
{% set introSummary %}{{ content | safe }}{% endset %}

<!-- TODO: add order details, use icons instead of numbers - download and receipt -->
<main id="main-content" tabindex="-1">
  {% include "intro.njk" %}

  <section class="[ post-list ] [ pad-top-700 gap-bottom-900 ]">
  <div class="[ inner-wrapper ] [ sf-flow ]">
    <p>Vielen Dank für Ihre Bestellung! Sie werden die folgenden Informationen per E-Mail erhalten:</p>
    <ol>
      <li>Ihre Rechnung</li>
      <li>Informationen zum Versand Ihrer Ware</li>
    </ol>
    <p>Wenn Sie die Rechnung nicht in den nächsten Minuten erhalten, prüfen Sie bitte  <strong>Ihren E-Mail Spam / Junk Ordner</strong>. Sollten weiterhin Probleme auftreten, kontaktieren Sie uns bitte unter <a href="office@qinkel.com">office@qinkel.com</a>.</p>
  </div>
</main>

<main id="main-content" tabindex="-1">
